<div class="hide-sm latest-blog">
    <div>
        Latest blog posts:
    </div>
    <ul>
        {{ range (first 2 (last 3 (where .Site.Pages "Section" "blog").ByDate)).Reverse }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a> by {{ .Params.author }}</li>
        {{ end }}
    </ul>
</div>
<div class="show-sm latest-blog-small">
    <div>
        Latest blog posts:
    </div>
    <ul>
        {{ range (first 2 (last 3 (where .Site.Pages "Section" "blog").ByDate)).Reverse }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a> by {{ .Params.author }}</li>
        {{ end }}
    </ul>
</div>