<div class="hide-sm latest-blog">
  <div>
    Latest blog posts:
    <br>
    {{ range (first 1 (last 1 (where .Site.Pages "Section" "blog").ByDate)).Reverse }}
      <a class="button secondary outline" href="{{ .Permalink }}" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">{{ .Title }}</a>
    </div>
    {{ end }}
  </div>
</div>
<div class="show-sm latest-blog-small">
  <div>
    Latest blog posts:
    <br>
    {{ range (first 1 (last 1 (where .Site.Pages "Section" "blog").ByDate)).Reverse }}
      <a class="button secondary outline" href="{{ .Permalink }}" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">{{ .Title }}</a>
    </div>
    {{ end }}
  </div>
</div>
