{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}


<div id="main">
  <div id="hero">
    <img src="images/logo_transparent_bg.png" style="max-height:160px"></img>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="{{"/guides/installation/" | relURL}}">Get started</a>
    <a class="button outline big" href="{{"/guides/introduction/" | relURL}}">Crash Course</a>
  </div>
</div>


<!-- Desktop version  -->
<div class="container hide-sm">
  <div class="row" style="padding-top:24px;">
    <div class="col-4"><hr class="main-hr"></div>
    <div class="col-4">
      <h3 style="color: rgba(0,0,0,0.75); text-align: center;vertical-align: middle;margin-bottom:0;">
        Applications
      </h2>
    </div>
    <div class="col-4"><hr class="main-hr"></div>
  </div>

  <br>

  <div class="row">
    <ul class="nav nav-tabs nav-justified" id="application-tab" role="tablist">
      <li class="nav-item" col-4>
        <a class="nav-link" id="optim-tab" data-toggle="tab" href="#tab-optim" role="tab" aria-controls="optim" aria-selected="false">Constrained Optimization</a>
      </li>
      <li class="nav-item" col-4>
        <a class="nav-link active show" id="kinematics-tab" data-toggle="tab" href="#tab-kinematics" role="tab" aria-controls="kinematics" aria-selected="false">Kinematics</a>
      </li>
      <li class="nav-item" col-4>
        <a class="nav-link" id="comp-chemistry-tab" data-toggle="tab" href="#tab-comp-chemistry" role="tab" aria-controls="comp-chemistry" aria-selected="false">Computational Chemisty</a>
      </li>

      <li class="nav-item" col-4>
        <a class="nav-link" id="tda-tab" data-toggle="tab" href="#tab-tda" role="tab" aria-controls="tda" aria-selected="true">Topological Data Analysis</a>
      </li>
    </ul>
  </div>

  <hr class="tab-divider"/>

  <div class="tab-content" id="application-tab-content">
      <div class="tab-pane  active show" id="tab-kinematics" role="tabpanel" aria-labelledby="kinematics-tab">
          <div class="row">
        <div class="col-4">
            <video autoplay loop muted playsinline src="/videos/four-bar.mp4" height="300px"></video>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <h4>
            Kinematic synthesis
          </h4>
          <p>
              The problem of finding all four-bar linkages whose coupler curve passes through nine prescribed points has been a
              longstanding unsolved problem in kinematics. It was eventually solved in 1992 by Wampler, Morgan and Sommese. While
              this has been an outstanding computational achievement at the time, we now can synthesize the mechanism from scratch in a matter of minutes using HomotopyContinuation.jl.
          </p>
          </div>
        <div class="col-2"></div>
        </div>
      </div>

    <div class="tab-pane" id="tab-tda" role="tabpanel" aria-labelledby="tda-tab">
      <div class="row">
        <div class="col-1"> </div>
        <div class="col-3">
          <video autoplay loop muted playsinline src="/videos/bottlenecks.mp4" height="300px"></video>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <h4>
            Topological Data Analysis
          </h4>
          <p>
              The geometry of bottlenecks plays an important
              role in the analysis of data with support on an
              algebraic variety.
              Together with the maximal curvature of the variety they define the <em>reach</em>.
              Using HomotopyContinuation.jl we can compute the reach for <a href="/examples/reach-curve">curves</a> and surfaces.
          </p>
          </div>
          <div class="col-2"></div>
      </div>
    </div>

    <div class="tab-pane" id="tab-comp-chemistry" role="tabpanel" aria-labelledby="comp-chemistry-tab">
        <div class="row">
              <div class="col-1"></div>
              <div class="col-3">
                 <video autoplay loop muted playsinline src="/videos/cyclooctane.mp4" height="400px" style="margin-top:40px;"></video>
              </div>
              <div class="col-1"> </div>
              <div class="col-5">
                  <h4>
                    Computational Chemistry
                  </h4>
                  <p>
                      Homotopy continuation methods allow us to study the conformation space of molecules as for example cyclooctane
                      (CH₂)₈. This molecule consists of eight carbon atoms aligned in a ring, and eight hydrogen atoms,
                      each of which is attached to one of the carbon atoms.
                      It is known that the conformation space is homeomorphic to a union of the Klein bottle and a sphere, which intersect in two rings.
                      Follow our <a href="/examples/cyclooctane">example</a> to find out how to sample from this conformation space.
                  </p>
              </div>
              <div class="col-2"></div>
        </div>
    </div>

    <div class="tab-pane" id="tab-optim" role="tabpanel" aria-labelledby="optim-tab">
      <div class="row">
          <div class="col-5">
            <img src="/images/ed.png" style="width: 100%; max-width: 400px;">
          </div>
          <div class="col-5">
            <h4>
              Constrained Optimization
            </h4>
            <p>
                Many models in the sciences and engineering are expressed as sets of real solutions to systems
                of polynomial equations. We can optimize any objective whose gradient is an algebraic function using homotopy methods
                by computing <emph>all</emph> critical points of the objective function.
                An important special case is when the objective function is the euclidean distance to a given point.
                An example of an non-algebraic objective function whose derivative is algebraic is the Kullback–Leibler divergence.
            </p>
          </div>
          <div class="col-2"></div>
       </div>
     </div>
  </div>

</div>

<!-- Movile  version  -->
<div class="container show-sm">
    <div class="row">
        <h3 style="text-align: center;vertical-align: middle;margin-bottom:0">
          Applications
        </h3>
    </div>

    <div style="padding:12px;">
      <h4>
        Kinematic synthesis
      </h4>
      <video autoplay loop muted playsinline src="/videos/four-bar.mp4" style="width: 80%;max-width:400px"></video>
      <p>
          The problem of finding all four-bar linkages whose coupler curve passes through nine prescribed points has been a
          longstanding unsolved problem in kinematics until it got solved by Wampler, Morgan and Sommese in 1992. While
          this has been an outstanding computational achievement at the time we now can synthesis the mechanism from scratch in a matter of minutes using HomotopyContinuation.jl.
      </p>
    </div>

    <div style="padding:12px;">
        <h4>
          Topological Data Analysis
        </h4>
        <video autoplay loop muted playsinline src="/videos/bottlenecks.mp4" style="width: 80%;max-width:400px"></video>
        <p>
            The geometry of bottlenecks plays an important
            role in several important aspects of real geometry in connection with analysis of data with support on an
            algebraic variety $X$.
            Together with the maximal curvature of the variety they define the <em>reach</em> of $X$.
            Knowing the reach allows to compute the correct homology of an variety.
            Using HomotopyContinuation.jl we can compute the reach for surfaces <a href="/examples/reach-curve">curves</a> and surfaces.
        </p>
      </div>


      <div style="padding:12px;">
          <h4>
            Computational Chemistry
          </h4>
          <video autoplay loop muted playsinline src="/videos/cyclooctane.mp4" style="width: 80%;max-width:400px"></video>
          <p>
              Homotopy continuation methods allow us to study the conformation space of molecules as for example cyclooctane
              (CH₂)₈. It consists of eight carbon atoms aligned in a ring, and eight hydrogen atoms,
              each of which is attached to one of the carbon atoms.
              It is known that the conformation space is homeomorphic to a union of the Klein bottle and a sphere, which intersect in two rings.
              Follow our <a href="/examples/cyclooctane">example</a> to find out how to sample from this conformation space.
          </p>
      </div>

      <div style="padding:12px;">
          <h4>
            Constrained Optimization
          </h4>
          <img src="/images/ed.png" style="width: 80%; max-width: 400px;">
          <p>
              Many models in the sciences and engineering are expressed as sets of real solutions to systems
              of polynomial equations. We can optimize any objective whose gradient is an algebraic function using homotopy methods
              by computing <emph>all</emph> critical points of the objective function.
              An important special case is the case that the objective function is the euclidean distance to a given point.
              An example of an non-algebraic objective function whose derivative is algebraic is the Kullback–Leibler divergence.
          </p>
        </div>

    </div>

  </div>

{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
