body {
    background-color: #fff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
code {
    color: #b00040;
    background: none;
}

a code {
    text-decoration: underline;
}

code .language-julia, code .hljs {
    background: red;
}

.about-image {
    border-radius: 12px;
    max-width: 50%;
}

pre {
    padding: 0
}
pre code {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #d5d5d5;
}

#main {
    padding: 0 12px;
}
/* 
.hljs {
    background: #282c34;
}

.language-julia.hljs {
    background: #282c34;
} */

/* pre,
pre code {
    background: #f0f0f0;
} */

.latest-blog {
    padding-bottom: 11px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 8px 0;
    margin-bottom: -48px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 3px;
    padding-left: 32px;
}

.latest-blog-small {
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 8px 16px;
    margin-bottom: -60px;
    padding-bottom: 14px;
    margin-top: -38px;
}


#top #top-nav-main li {
    margin-right: 24px;
}

#top #top-nav-main {
    padding-left: 24px;
}

#top #top-brand {
    margin-right: 24px;
}

#top {
    padding: 0 24px;
}

#top #top-nav-main li {
    font-size: 15px;
}


.tab-content>.tab-pane {
    display: none;
}


.tab-content>.active {
    display: block;
}
.fade {
    transition: opacity .15s linear;
}

.fade:not(.show) {
    opacity: 0;
}
.fade {
    transition: opacity .15s linear;
}

#application-tab {
    border: 0;
    width: 100%;
    margin: 0;
}

.nav-tabs {
    display: flex;
}
.nav-tabs {
    display: none;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
}

.main-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}




#application-tab .nav-item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5)
}

#application-tab .nav-item a.active {
    font-weight: bold;
    color: #000;
}

.tab-divider {
    border-color: rgba(0,0,0, 0.05);
    margin: 0;
    margin-top: 4px;
}

.tab-content {
    padding: 8px 56px;
}

img.ecosystem-image {
    float: left;
    margin-right: 20px;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}