body {
    background-color: #fff;
}

code {
    color: #b00040;
    background: none;
}

a code {
    text-decoration: underline;
}

code .language-julia, code .hljs {
    background: red;
}

.about-image {
    border-radius: 12px;
    max-width: 50%;
}

pre {
    padding: 0
}
pre code {
    border-radius: 8px;
}


.hljs {
    background: #282c34;
}

.language-julia.hljs {
    background: #282c34;
}

/* pre,
pre code {
    background: #f0f0f0;
} */

.latest-blog {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 8px 36px;
    margin-bottom: -24px;
}

.latest-blog-small {
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 8px 16px;
    margin-bottom: -12px;
    padding-bottom: 8px;
}
