{{ define "title"}} {{ .Title}} {{ end }} {{ define "header"}}
{{ partial "header" .}} {{ end }}
{{ define "main"}}
<div id="main">
  <div id="hero" class="wrap">
    <h1>Guides</h1>
    <p>Explore the full functionality of HomotopyContinuation.jl<br /></p>
  </div>
  <nav id="contents">
    <ol class="js-toc">
      <ul class="toc-list ">
        <li class="toc-list-item">
          <a
            data-scroll=""
            href="#get*started"
            class="toc-link node-name--H3  is-active-link"
            >Get started</a
          >
        </li>
        <li class="toc-list-item">
          <a data-scroll="" href="#theory" class="toc-link node-name--H3 "
            >How does it work?</a
          >
        </li>
        <li class="toc-list-item">
          <a data-scroll="" href="#advanced" class="toc-link node-name--H3 "
            >Advanced user guides</a
          >
        </li>
      </ul>
    </ol>
  </nav>

  <h2 class="section-head" id="get*started">
    <a href="#get*started">Get started</a>
  </h2>
  <div id="components">
    <div class="row gutters">
      {{ range where .Pages.ByWeight "Params.group" "get-started" }}
      <div class="col col-4 item">
        <h4>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h4>
        <p>{{ .Params.description }}</p>
      </div>
      {{ end }}
    </div>
  </div>
  <h2 class="section-head" id="theory">
    <a href="#theory">How does it work?</a>
  </h2>
  <div id="components">
    <div class="row gutters">
      {{ range where .Pages.ByWeight "Params.group" "theory" }}
      <div class="col col-4 item">
        <h4>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h4>
        <p>{{ .Params.description }}</p>
      </div>
      {{ end }}
    </div>
  </div>
  <h2 class="section-head" id="advanced">
    <a href="#advanced">Advanded user guides</a>
  </h2>
  <div id="components">
    <div class="row gutters">
      {{ range where .Pages.ByWeight "Params.group" "advanced" }}
      <div class="col col-4 item">
        <h4>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h4>
        <p>{{ .Params.description }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{ end }}
